---
export const prerender = true;
import BaseLayout from "../../layouts/BaseLayout.astro";
import ListItem from "../../components/blogListItem.astro";
import BlogPreview from '../../components/blogComponents/previewLink.astro';
import Searchbar from "../../components/search/searchbar.astro";
import { RetrieveImageFromGlob } from "../../hooks/imageHooks";
var allPosts : Array<any> = []; 
try{
  allPosts = await Astro.glob("../pages/posts/*.md") ;
} catch (error){
  console.log(error)
}

const pageTitle = "My Astro Learning Blog";
const imageFiles = import.meta.glob("../assets/uploads/*"); 
///console.log("imageFiles: ", imageFiles)
const keys = Object.keys(imageFiles)
---
<BaseLayout pageTitle={pageTitle}>
  <div
    class = "mb-[100px] w-11/12 mx-auto"
    id="content-wrapper"
  >
    <h1 
      class = "font-bold text-2xl text-center mt-10"
    >Blog posts</h1>
    <Searchbar />
    {allPosts && allPosts.length > 0 && 
      <div class = "grid sm:grid-cols-2 md:grid-cols-3 gap-5 mt-10">
          {allPosts.map(async post =>{
            //retrieve thumbnail of the posts

            if(post.frontmatter.images && post.frontmatter.images.length >0 ){
              const thumbnail = await RetrieveImageFromGlob(post.frontmatter.images[0].url, imageFiles); 
              return <BlogPreview {...post.frontmatter} url = {post.url} thumbnail = {thumbnail} />
            }
            return <BlogPreview {...post.frontmatter} url = {post.url}/>
          })}
      </div>
    }
  </div>
</BaseLayout>
