---
import usePagination from "../../hooks/usePagination.tsx"; 
import { DOTS } from "../../util/dots.js"
const {
    pageSize, 
    totalCount, 
    currentPage, 
} = Astro.props; 
---
<div
    id="PaginationContainer"
    class = "block list-none text-center"
>
    <li
        id="leftArrow"
        class = "PaginatedListItem"
    >&#706;</li>
    <li
        id="rightArrow"
        class = "PaginatedListItem"
    >&#707;</li>
</div>
<script type="text/javascript" is:inline src = "../../script/paginated-arrow-functions.js"></script>