@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base{
  h1 {
    @apply font-bold text-2xl my-1; 

  }
}

@layer components {
  .hamburger {
    @apply my-auto mr-[1rem] block cursor-pointer md:hidden;
  }
  .line {
    @apply block w-[40px] h-[5px] bg-[#fff] rounded-lg;
  }
  .fancyButton {
    @apply block w-fit px-5 py-1 rounded-lg cursor-pointer select-none active:translate-x-[1px] active:translate-y-[1px] relative bg-slate-300 text-white font-bold; 
  }
  .nav-links{
    @apply w-full h-fit text-white relative ml-auto mr-[3rem] hidden m-0 md:block sm:ml-[5em] sm:w-auto sm:bg-none;
  }
  .nav-links a{
    @apply block h-fit text-center px-0 no-underline text-[1.2rem] font-bold uppercase hover:bg-[#262626]; 
  }
  .mobile-menu-links a{
    @apply hover:bg-white w-full rounded-lg px-1 cursor-pointer mb-10;
  }
  .mobile-menu{
    @apply bg-slate-100;
  }

  .dark .mobile-menu{
    @apply bg-slate-700 text-white;
  }

  .dark .Mobile_Menu_Wrapper{
    @apply text-white;
  }

  .footer-links a{
    @apply font-bold cursor-pointer hover:underline 
  }
  .ScrollTopButton{
    @apply fixed bottom-[6rem] right-[1rem] w-[2rem] h-[2rem] z-20 cursor-pointer; 
  }
  .formBackground{
    @apply bg-[#ffffff] text-black;
  }
  .dark .formBackground{
    @apply bg-[#353535] text-[#fff];
  }
  .formLabel {
    @apply text-base sm:text-2xl;
  }
  .dark .formLabel {
    @apply text-[#ffffff];
  }
  .formInput{
    @apply w-full text-black rounded-lg pl-1 bg-transparent border-slate-200 placeholder:text-[#545454] placeholder:text-base border-2;
  }
  .dark .formInput{
    @apply text-[#fff] placeholder:text-[#F8F8F8];
  }
  .dark .fancyButton{
    @apply bg-[#1F7DD5];
  }
  .email-icon {
    @apply bg-slate-100 w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] inline-flex rounded-full ; 
  }
  .dark .email-icon{
    @apply bg-[#1F7DD5]; 
  }
  .btn-primary {
    @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit select-none text-black mx-auto hover:bg-[#a2a2a2] bg-[#dbdbdb] box_shadow whitespace-nowrap [&>*]:inline-flex;
  }

  .dark .btn-primary{
    @apply bg-[#333333] border-white border-2 text-white;
  }

  .btn-secondary {
    @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit select-none text-white mx-auto hover:bg-[#535353] bg-[#333333] box_shadow whitespace-nowrap [&>*]:inline-flex block;
  }
  .dark .btn-secondary{
    @apply bg-[#333333] text-slate-300 border-white border-2 hover:bg-[#5D5D5D];
  }
  .dark .PaginatedListItem{
    @apply text-white; 
  }
  .PaginatedArrow{
    @apply border-2 whitespace-nowrap;
  }
  .dark .PaginatedArrow{
    @apply border-white;
  }
  .selected {
    @apply font-bold;
  }

  .dark .SearchInput{
    @apply bg-[#dbdbdb] text-black;
  }

  .dark .RecentSearches{
    @apply text-black;
  }
}

html{
  background-color: #F3F3F3;
}

body {
  position: relative;
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
}

.expanded {
  display: unset;
}

  .clippedShape::before{
    clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
  }

  .clippedShape:hover::before{
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }


html.dark {
  background-color: #262626;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .tagListItem a {
  color: #000000 !important;
}

.dark .blog-preview-panel{
  background-color: #333333;
}

/* 
  .dark .mobile-menu{
    background-color: #5b5b5b !important;
  } */

.dark footer {
  background-color:#000000;

}

.box_shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* styles for pagination components */
.PaginatedListItem{
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: inline;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 8px;
  min-width: 32px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  padding: 5px;
  user-select:none; 
  cursor: pointer; 
}

.PaginatedListItem:hover{
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.PaginatedListItem:selected{
  background-color: rgba(0, 0, 0, 0.08);
}

.PaginatedListItem.dots:hover{
    background-color: transparent;
    cursor: default ;
}


.arrow::before {
  position: relative;
  content: '';
  display: inline - block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.arrow.left{
  transform: rotate(-135deg) translate(-50%);
}

.arrow.right{
  transform: rotate(45deg);
}

.arrow:hover{
    background-color: transparent;
    cursor: default ;
}

.disabled.arrow{
  pointer-events: none;
}

@media screen and (min-width: 320px) {
  .PaginatedListItem {
    font-size: 12px;
  }
}

@media screen and (min-width: 460px) {
  .PaginatedListItem {
    font-size: 16px;
  }
}


@media screen and (min-width: 636px) {
  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}

