---
import BaseLayout from '../layouts/BaseLayout.astro';
export const prerender = false; 
import EmailIcon from "../components/iconComponents/email.astro";
const FormStyle = `[&>div>label]:text-black rounded-md text-2xl`; 
import nodemailer from 'nodemailer'; 

if(Astro.request.method === "POST"){
    const data = await Astro.request.formData();  
    const email = data.get("email");
    const subject = data.get("subject");
    const message = data.get("message");
    const transporter = nodemailer.createTransport({
        host: import.meta.env.SMTP_HOST,
        port: import.meta.env.SMTP_PORT * 1,
        secure: true,
        auth: {
            user: import.meta.env.SMTP_USERNAME,
            pass: import.meta.env.SMTP_PASSWORD,
        },
        tls: {
            rejectUnauthorized: false,
            ciphers: 'SSLv3'
        }
    });
    const mailOptions = {
        from: email,
        to: 'hualbert.y@gmail.com',
        subject: `${subject}`,
        text: `Hello, you have received a new message from the contact form on your website: \n\n email: ${email} \n\n ${message}`
    };
    try{
    await new Promise((resolve, reject) =>{
        transporter.sendMail(mailOptions, function (error: any, info: any) {
            if (error) {
                console.log("error: ", error)
            } else {
                console.log("success")
            }
        });
    })

    } catch(error){
        console.log("error: ", error)
    }
    return Astro.redirect("/message_sent")
}

---
<BaseLayout pageTitle = "Contact" >
  <form 
    method="POST"
    class="formBackground w-11/12 md:w-9/12 mx-auto lg:w-6/12 rounded-lg mt-[20px] py-10 box_shadow mb-[120px] sm:mb-[110px]"
    id = "contactForm"
>
    <div
        id="Shell"
        class={`w-11/12 mx-auto ${FormStyle}`}
        >
            <div class = "grid sm:flex">
                <EmailIcon customStyle = "mx-auto mb-5" />
                <section 
                    class = "mx-auto sm:ml-[5px]"
                >
                    <h2 class ="text-base sm:text-2xl text-center sm:text-left font-bold my-1">Have something to say?</h2>
                    <h2 class ="text-base sm:text-2xl text-center sm:text-left my-1">Share your thoughts.</h2>
                </section>
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Email</label>
                <input 
                    name="email"
                    id="emailInput"
                    type="email"
                    class = "formInput"
                    placeholder="Type your email here"
                    required
                />
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Subject Line</label>
                <input 
                    name="subject"
                    id="subjectInput"
                    type="text"
                    class = "formInput"
                    placeholder="Type your subject line here"
                    required
                />
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Message</label>
                <textarea
                    name="message"
                    id="messageInput"
                    rows="5"
                    class ="outline-1 border-2 resize-none p-1 rounded-lg bg-transparent placeholder:text-base placeholder:text-slate-800"  
                    placeholder="Type your message here."
                ></textarea>
            </div>
            <button
                class = "fancyButton !ml-auto !mr-0 bg-slate-300"
                type="submit"
            >Send</button>
    </div>
</form>
</BaseLayout>