---
export const prerender = true;
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentWrapper from '@/layouts/ContentWrapper.astro';
---
<BaseLayout pageTitle = "Home Page" >
  <ContentWrapper>
    <h2>Template</h2>
  </ContentWrapper>
</BaseLayout>