---
import { MobileMenuOpen } from "../../util/atomItems";
import { useStore } from '@nanostores/preact';
const MobileMenu = document?.getElementById("MobileMenu"); 
const Dispatch = useStore(MobileMenuOpen)

---

<div
    id = "MobileIcon"
    class="hamburger"
    onClick = {()=>MobileMenuOpen.set(!Dispath)} 
>
    <span class="line mb-[10px]"></span>
    <span class="line mb-[10px]"></span>
    <span class="line"></span>
</div>
