---
import NavLinks from "../navigation.astro"; 
import { MobileMenuOpen } from "../../util/atomItems.js";
import { useStore } from '@nanostores/preact';

//const $MobileMenuOpen = useStore(MobileMenuOpen); 
// const MobileMenuElem = document.getElementById("Mobile_Menu"); 
// if($MobileMenuOpen){

// }

---
<div
    id="Mobile_Menu"
    class = "grid md:hidden h-full w-[200px] bg-white fixed left-auto right-0 top-0 translate-x-[0px] overflow-y-auto overflow-x-hidden translate-x-[200px] transition-all"
>
    <div
        id="Mobile_Menu_Wrapper"
        class = "w-9/12 mx-auto mt-[20px] text-black flex flex-col [&>a]:mb-10"
    >
        <NavLinks />
    </div>
</div>