---
import BaseLayout from '../../layouts/BaseLayout.astro'; 
import RenderPagination from '@/components/paginatedBlog/renderPagination.tsx';
const allPosts = await Astro.glob("../posts/*.md")
const PAGE_SIZE : number = 6;
const totalPages : number = Math.round(allPosts.length/PAGE_SIZE) + allPosts.length%PAGE_SIZE;

// export async function getStaticPaths() {
// }   
const {page} = Astro.params; 
let inBound = page && typeof parseInt(page) === "number" && parseInt(page) <= totalPages; 
if(!inBound) {
    return Astro.redirect("/error")
}
const {} = Astro.props;  
---
<BaseLayout pageTitle = "Blog posts">
    <div class = "w-full h-auto">
            <RenderPagination 
                pageSize = {PAGE_SIZE}
                totalCount = {allPosts.length as number}
                currentPage = {1}
                client:only = "react"
            />
    </div>
</BaseLayout>