---
export const prerender = false; 
import EmailIcon from "./iconComponents/email.astro";
const FormStyle = `[&>div>label]:text-black rounded-md text-2xl`;
import { MessageArray } from "@/util/atomItems";
import { useStore } from '@nanostores/preact'; 
import siteData from "@/customization/siteData.json"; 
const publicKey = import.meta.env.EMAILJS_PUBLIC_KEY; 
const serviceId = import.meta.env.EMAILJS_SERVICE_ID; 
const templateId = import.meta.env.EMAILJS_TEMPLATE_ID; 

---
<form 
    method="POST"
    class="formBackground w-11/12 md:w-9/12 mx-auto lg:w-6/12 rounded-lg mt-[20px] py-10 box_shadow mb-[120px] sm:mb-[160px]"
    id = "contactForm"
>
    <div
        id="Shell"
        class={`w-11/12 mx-auto ${FormStyle}`}
        >
            <div class = "grid sm:flex">
                <EmailIcon customStyle = "mx-auto mb-5" />
                <section 
                    class = "mx-auto sm:ml-[5px]"
                >
                    <h2 class ="text-base sm:text-2xl text-center sm:text-left font-bold my-1">Have something to say?</h2>
                    <h2 class ="text-base sm:text-2xl text-center sm:text-left my-1">Share your thoughts.</h2>
                </section>
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Your full name</label>
                <input 
                    name="name"
                    id="nameInput"
                    type="text"
                    class = "formInput"
                    placeholder="Type your full name here"
                    required
                />
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Email</label>
                <input 
                    name="email"
                    id="emailInput"
                    type="email"
                    class = "formInput"
                    placeholder="Type your email here"
                    required
                />
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Subject Line</label>
                <input 
                    name="subject"
                    id="subjectInput"
                    type="text"
                    class = "formInput"
                    placeholder="Type your subject line here"
                    required
                />
            </div>
            <div class = "grid w-full my-[10px]">
                <label class ="formLabel">Message</label>
                <textarea
                    name="message"
                    id="messageInput"
                    rows="5"
                    class ="outline-1 border-2 resize-none p-1 rounded-lg bg-transparent placeholder:text-base placeholder:text-slate-800"  
                    placeholder="Type your message here."
                ></textarea>
            </div>
            <button
                class = "fancyButton !ml-auto !mr-0 bg-slate-300"
                type="submit"
            >Send</button>
    </div>
</form>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type = "text/javascript" src = "../../src/script/emailjs.js"></script>
<script
    type='module'
    define:vars={{publicKey, serviceId, templateId, siteData}}
    is:inline
    >
   // import emailjs from "@emailjs/browser";
    const HandleSubmit = () =>{   
        console.log("key: ", publicKey)
        const nameInput = document.getElementById("nameInput"); 
        const emailInput = document.getElementById("emailInput");
        const subjectInput = document.getElementById("subjectInput");
        const messageInput = document.getElementById("messageInput");

        const name = nameInput.value; 
        const email = emailInput.value;
        const subject = subjectInput.value;
        const message = messageInput.value;
            console.log("Email:", email);
            console.log("Subject:", subject);
            console.log("Message:", message);
        var templateParams = {
            to_name: siteData.owner_name, 
            from_name: name, 
            subject_line: subject, 
            message, 
            email,
        };
        try{
            emailjs.send(serviceId, templateId, templateParams)
            .then(function(response) {
                console.log('SUCCESS!', response.status, response.text);
                window.location.href="/message_sent";
            }, function(error) {
                console.log('FAILED...', error);
            });
        } catch(error){
            console.log("error: ", error)
        }
    }
    const ContactForm = document.getElementById("contactForm"); 
    ContactForm?.addEventListener("submit",(event)=>{
        event.preventDefault()
        HandleSubmit()
    })
</script>