---
import PlaceHolder from '../assets/images/PlaceholderLogo.png';
const {
    image 
} = Astro.props; 
---

<div
    class = "object-fit ml-[1rem]"
>
    <img 
        src = {image}
        class = "h-full w-auto"
    />
</div>