---
import Image from '../assets/images/PlaceholderLogo.png';
---
<a href = "/">
    <div
        class = "object-fit ml-[1rem] w-fit h-fit"
    >
        <img 
            src = {Image}
            class = "h-full w-auto"
        />
    </div>
</a>