---
import SearchInput from './client/searchInput.tsx';
const {
    query = ""
} = Astro.props; 
---
<form
    id="SearchBar"
    class = "grid whitespace-nowrap userselect-none border-none mt-10"
>
    <SearchInput client:load />
</form>
