---
import Header from "../components/HeaderComponent/header.astro";
import Footer from "../components/footer/index.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
import ScrollTopButton from "../components/scrollTopButton.astro";

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <div class="w-11/12 mx-auto mt-[60px] min-h-[100vh] sm:min-h-[95vh] mb-[250px] sm:mb-[120px] flex flex-col flex-grow">
            <slot />
        </div>
        <Footer />
        <ScrollTopButton />
    </body>
</html>
